/*
IMPORTS
 */
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/*
Estilos de Etiquetas
 */
body{
    background-color: #07961c;
    font-family: Quicksand, sans-serif;
}
table{
    width: 100%;
}

a{
    color: black;
    text-underline-style: none;
    font-family: Quicksand, sans-serif;
}

a:hover{
    color: #d6ff18;
}



h1{
    font-family: Roboto Condensed, sans-serif;
    color: whitesmoke;
    text-align: center;
}

h2{
    font-family: Quicksand, sans-serif;
}

p{
    color: #FFF;
    font-family: Quicksand, sans-serif;
}
ul{
    color: white;
    font-family: Quicksand, sans-serif;
    font-size: 20px;
    font-style: oblique;
}


/*
Estilos de identificadores
 */
#contenedor{
    font-family: Nunito, sans-serif;
    border: white;
    border-width: 50px;
    width: 1000px;
    margin: auto;
}
#presentacion, #wiki, #blog, #gestion, #comunicacion, #anuncios{
    height: 400px;
    width: 80%;
    margin: auto;
    text-align: center;
}

#izquierda, #derecha{
    height: 100%;
    width: 50%;
    text-align: center;
    margin: auto;
}
#izquierda{
    height: 300px;
    float: left;
    background-color: #6f6456;
    padding-top: 15%;
}
#derecha{
    float: right;
    background-color: #fee659;
    padding-top: 13%;
    height: 316px;
}

#wiki{
    background-color: grey;
    height: 280px;
    padding-top: 10%;
}
#parrafowiki{
    color: navajowhite;
    text-align: justify;
}

#imagenes {
    height: 15em;
    width: 15em;
}

#pie{
    height: 15%;
    width: 70%;
    margin: auto;
    text-align: justify;
    background-color: darkcyan;
    padding: 5%;
}

#chiquito{
    height: auto;
    width: auto;
    background-color: darkslategrey;
    text-align: center;
}
#gestion{
    height: 150px;
    background-color: darkgoldenrod;
}